body {
    background-color: lightgray;
    margin:0;
    padding:0;
    height:100%;
}
.border {
    border: 2px solid black;
}
table {
    border-collapse: collapse;
}
.containerBody {
    min-height:100%;
    position:relative;
}

table, tr, td {
    font-family: sans-serif;
    font-size: 12px;
    border: 1px solid #cde;
    padding: 2px;
    border-spacing: 0 1px;
    text-align: left;
}
tr {
    background: #7dabee;
    padding: 5px;
}
td {
    padding: 5px;
}
.sign {
    text-align: left;
    }
footer {
    position:relative;
    bottom:0;
    width:100%;
    height:60px;
    background: #837f7f;
}
tr.informationRow {
    background-color: #916319;
}
.teacherInfo {
    background-color: #f6f6f6;
    width: 48%;
    float: left;
    margin: 5px;
    text-align: center;
}
.signClass {
    float:right;
    margin-top: 25px;
}
.list {
    background-color: #e1ddd3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}
.information {
    background-color: #b6b8f8;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}