body {
    background-color: lightgray;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
    text-align: left;
}
.signIn {
    text-align: left;
    margin-left: 500px;
}