body {
    background-color: lightgray;
    margin:0;
    padding:0;
    height:100%;
}
.border {
    border: 2px solid black;
}
table {
    border-collapse: collapse;
}
.containerBody {
    min-height:100%;
    position:relative;
}

table, tr, td {
    font-family: sans-serif;
    font-size: 12px;
    border: 1px solid #cde;
    padding: 2px;
    border-spacing: 0 1px;
    text-align: left;
}
tr {
    background: #7dabee;
    padding: 5px;
}
td {
    padding: 5px;
}
.sign {
    text-align: left;
    }
footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    background: #3b3939;
}
tr.informationRow {
    background-color: #916319;
}
.teacherInfo {
    background-color: #f6f6f6;
}