<!DOCTYPE html>
<html>
    {%block head%}
        <head>
            <meta charset="UTF-8">
            <title>{% block title %}Serwis Egzaminacyjny{% endblock %}</title>

            {% block stylesheets %}
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                {{ encore_entry_link_tags('app') }}
            {% endblock %}
        </head>
    {%endblock%}

    <body>
        {% block authentication %}
            <div class="container">
                <b><div id="userNameMenu"></div></b>
                <div class="sign" style="margin-bottom: 10px">
                    <a href="{{ path('logout') }}" class="btn btn-info btn-lg logoutButton">
                        <span class="glyphicon glyphicon-log-out"></span> Log out
                    </a>
                    <a href="{{ path('userProfile') }}" class="btn btn-info btn-lg logoutButton">
                        <span class="glyphicon glyphicon-user"></span> My profile
                    </a>
                </div>
            </div>
        {% endblock %}

        {% block menu %}
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}

        <script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-app.js"></script>
        {% endblock %}

        <footer>
            <hr>
            Praca inżynierska Teleinformatyka 2020
        </footer>
    </body>
</html>
