<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Serwis Egzaminacyjny{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body style="background-color: #AAAAAA">
        {% block body %}
        <nav style="background-color: #565656">MENU</nav>
            <button>User</button>
            <button>Exam</button>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
