{# templates/questionList.html.twig #}
{% include 'menu.html.twig' %}
<div class="sign">
    <a href="learningMaterialsGroup" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-plus-sign"></span> Add new learning material group
    </a>
</div>
<table>
    <tr>
        <td>Id</td>
        <td>Name of Group</td>
        <td></td>
    </tr>
    {% for action in data %}
        <tr>
            <td> {{ action.id|default('undefined') }}  </td>
            <td> {{ action.name_of_group|default('undefined') }}  </td>

            <td><div class="sign">
                    <a href="#" title="delete learning materials group">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </a>
                    <a href="#" title="edit learning materials group">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="#" title="learning materials list">
                        <span class="glyphicon glyphicon-list"></span>
                    </a>
                </div>
            </td>
        </tr>
    {% endfor%}
</table>