{% include 'base.html.twig' %}
{# templates/login.html.twig #}
{% block body %}
    <body>
    {% if errors %}
        {{ errors.messageKey }}
    {% endif %}
    {% block login %}
        <div class="signIn"> LOGOWANIE
        {{ form(form) }}
        Jeśli nie pamiętasz hasła kliknij w link aktywacyjny
        </div>
    </body>
    {%  endblock %}
{% endblock %}

