{# templates/menu.html.twig #}
{% block menu %}
<nav style="background-color: #565656">
    <div class="container buttons">
        <button type="button" class="btn btn-default btn-sm">
            <a href="/userList" title="User list">
                <span class="glyphicon glyphicon-align-justify"></span> User
            </a>
        </button>
        <button type="button" class="btn btn-default btn-sm">
            <a href="examList" title="Exam list">
                <span class="glyphicon glyphicon-align-justify"></span> Exam
            </a>
        </button>
        <button type="button" class="btn btn-default btn-sm">
            <a href="#" title="User exam list">
                <span class="glyphicon glyphicon-align-justify"></span> User exam
            </a>
        </button>
        <button type="button" class="btn btn-default btn-sm">
            <a href="/learningMaterialsGroupList" title="Learning materials group list">
                <span class="glyphicon glyphicon-align-justify"></span> Learning materials group
            </a>
        </button>
    </div>
</nav>
{% endblock %}