{% extends 'base.html' %}
{% block body %}
<div class="container">
    Numer Pytania           Czas - odliczanie

    Tresc pytania

    Odpowiedzi buttony

    dalej

    <div class="buttons">
        <a href="#" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-chevron-right"></span> Next
        </a>
    </div>
</div>
{% endblock %}