{% extends 'base.html' %}
{% block body %}
    <div class="container">

    Osiągnięto wynik:
        {{ points }}
        {{ information }}
        <button type="button" class="btn btn-default btn-sm">
            <a href="{{ path('studentHomepage') }}" class="glyphicon glyphicon-chevron-left">Back to homepage</a>
        </button>
    </div>
{% endblock %}
