<div class="container">
    <div class="information_block">
        Informacje o egzaminie:
        Ilość pytań:
        Odpowiedzi Wielokrotnego wyboru : Tak/Nie
        Czas trwanie egzaminu:
    </div>

        Button Rozpocznij Egzamin
</div>