{# templates/examList.html.twig #}
{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="signClass">
            <a href="{{ path('teacherUserList') }}" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-arrow-right"></span> Lista użytkowników
            </a>
            <a href="{{ path('exam')}}" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-plus-sign"></span> Dodaj nowy egzamin
            </a>
        </div>
        <div class="list">
            <p>Lista dostępnych egzaminów : </p>
            <div>
                {% for action in data %}
                    <p><a href="{{ path('teacherExamInfo', { 'exam': action.id}) }}">
                            {{ action.name|default('undefined') }} </a></p>
                {% endfor%}
            </div>
        </div>
    </div>
{% endblock %}